* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

body {
    background-color: hsl(210, 46%, 95%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh
}

h1, h2 {
    color: hsl(217, 19%, 35%);
}

.article-share.hidden {
    display: none;
}

.article-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background-color: #ffffff;
    gap: 2rem;
    border-radius: 12px;
}

#article-img {
    object-fit: cover; 
    width: 100%;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: .5rem;
}

#article-title, #article-desc, .article-author {
    margin: 0 2rem;
}

.article-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#article-title {
    font-size: 1.25rem;
    width: 80%;
}

#article-desc {
    width: 75%;
    margin-bottom: .5rem;
    color: hsl(214, 17%, 51%);
}

.article-author {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 0 3rem;
    margin-bottom: 1.5rem;
}

.article-author.hidden {
    display: none;
}

#author-img {
    border-radius: 100%;
    width: 15%;
}

#author-name {
    font-size: 13px;
}
#posted-date {
    color: hsl(212, 23%, 69%);
}

.btn-share {
    position: absolute;
    right: 0;
    border: 0;
    border-radius: 100%;
    padding: .65rem;
}

.article-share {
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all .25s ease-in-out;
}

.article-share *:not(#img-active) {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article-share p {
    color: hsl(212, 23%, 69%);
    letter-spacing: 4px;
    font-weight: 700;
}

.btn-share.active {
    margin-right: 3rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    font-size: 11px; 
    color: hsl(228, 45%, 44%);
}